<div class="form-group schema-form-radios {{::form.htmlClass}}">
  <label class="md-body-1" ng-show="showTitle()" aria-label="{{form.title}}">{{::form.title}}</label>
  <br />
  <br />
  <md-radio-group sf-field-model sf-changed="form" ng-disabled="form.readonly" name="{{form.key.join('.')}}" sf-layout sf-messages>
    <div ng-repeat="item in form.titleMap" flex layout="row" layout-padding layout-align="start center" class="radio-buttons-row"
    md-colors="{
      borderColor: 'default-background-500-0.3',
      color: item.recommended ? 'default-accent' : 'default-background-500',
      borderLeftColor: item.recommended ? 'default-accent' : 'default-background-500-0.3'
    }" ng-class="{'md-whiteframe-10dp': item.recommended}">
    <md-radio-button flex ng-value="item.value">
      <div class="md-caption">{{::item.actionText}}</div>
      <div class="md-title">{{::item.name}}</div>
    </md-radio-button>
    <div flex layout="column" class="md-caption">
      <ul>
        <li flex ng-repeat="description in item.descriptionList track by $index">{{::description}}</li>
      </ul>
    </div>
    <div flex="none" ng-if="::item.recommended" class="{{::form.badgeClass}} md-caption" md-colors="{background: 'default-accent'}">
      {{::form.badgeText}}
    </div>
  </div>
</md-radio-group>
</div>
